.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
  grid-column: 1/-1;
}
.skills__title {
  font-weight: var(--font-weight-seim-bold);
  font-size: var(--font-size-38);
}
.skills__yeard {
  font-size: var(--font-size-20);
  display: inline-block;
  margin-top: 1rem;
}
.skills__item:hover {
  text-shadow: 0 0 2px;
}
.skills__item {
  transition: var(--transition-timing);
  user-select: none;
  cursor: not-allowed;
}
